<app-loading *ngIf="loading"></app-loading>
<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>{{ errorMessage }}</p>
</div>
<app-cards [items]="songsNew"></app-cards>