<app-loading *ngIf="loading"></app-loading>
<div class="animated fadeIn" *ngIf="!loading" class="row">
  <div class="col-2">
    <img [src]="artist.images | noimage" class="img-thumbnail img-circle" alt="Image artist">
  </div>
  <div class="col" style="color: black">
    <h3>{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">
        Go to page Artist
      </a>
    </p>
  </div>
  <div class="col-4 text-right">
    <button [routerLink]="['/search']" routerLinkActive="router-link-active"  class="btn btn-outline-denger">
      Back
    </button>
  </div>
  <div class="row m-5">
    <div class=col>
      <table class ="table">
        <thead>
          <tr>
            <th id="">Photo</th>
            <th id="">Album</th>
            <th id="">Song</th>
            <th id="">Preview</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of topTracks">
            <td>
              <img [src]="track.album.images | noimage" class="img-thumb" alt="Image of album">
            </td>
            <td> {{ track.album.name }}</td>
            <td>{{ track.name }}</td>
            <td>
              <iframe [src]="track.uri | domseguro : 'https://open.spotify.com/embed?uri='" 
              width="300" height="80" title="Preview" allow="encrypted-media">
            </iframe>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>