<div class="row">
  <div class="col">
    <input #term type="text" (keyup)="search(term.value)" class="form-control" placeholder="Search Artists">
  </div>
</div>
<app-loading *ngIf="loading" class="m-5"></app-loading>
<app-cards *ngIf="!loading" [items]="artists"></app-cards>