<div class="card-columns m-5 animated fadeIn">
  
  <div (click)="viewArtist( item )" *ngFor="let item of items" class="card puntero">
    <img [src]="item.images | noimage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <span *ngFor="let artist of item.artists" class="badge badge-pill badge-primary">{{ artist.name }}</span>
    </div>
  </div>
</div>